{% extends 'base.html' %}
{% block title %}Ventas{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Ventas</h2>
        <a href="{% url 'venta_agregar' %}" class="btn btn-primary">Agregar Venta</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>Fecha</th>
                    <th>Cliente</th>
                    <th>Medio de Pago</th>
                    <th>Importe Total</th>
                    <th>Número de Comprobante</th>
                    <th>Anular</th>

                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                <tr onclick="window.location='{% url 'detalle_venta' venta.id %}'">
                    <td>{{ venta.fecha }}</td>
                    <td>{{ venta.cliente }}</td>
                    <td>{{ venta.medio_de_pago }}</td>
                    <td>${{ venta.importe_total }}</td>
                    <td>{{ venta.numero_comprobante }}</td>
                    <td>
                        <a href="{% url 'venta_anular' venta.pk %}" class="btn btn-danger btn-sm">Anular</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}

