{% extends 'base.html' %}
{% block title %}Productos{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Productos</h2>
        <a href="{% url 'productos_create' %}" class="btn btn-primary">Agregar Producto</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Proveedor</th>
                    <th>Categoría</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td> $ {{ producto.precio }}</td>
                    <td>{{ producto.cantidad_stock}}</td>
                    <td>{{ producto.proveedor }}</td>
                    <td>{{ producto.categoria }}</td>
                    <td class="text-center">
                        <a href="{% url 'productos_update' producto.id %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'productos_delete' producto.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


<!--
"""
Plantilla para mostrar la lista de productos en la aplicación web de Ferretería.

Esta plantilla extiende un archivo base HTML y presenta una tabla con todos los productos existentes, 
permitiendo al usuario ver, editar o eliminar cada producto. También incluye un botón para agregar 
un nuevo producto.

Bloques:
    - title: Establece el título de la página como "Productos".
    - content: Contiene la tabla que lista los productos con las acciones disponibles (editar y eliminar), 
      y un botón para agregar un nuevo producto.

Variables de contexto:
    - productos: Un queryset que contiene todos los productos disponibles, con los siguientes atributos:
        - id: Identificador único del producto.
        - nombre: El nombre del producto.
        - precio: El precio del producto.
        - cantidad_stock: La cantidad en stock del producto.
        - proveedor: El proveedor del producto.
        - categoria: La categoría a la que pertenece el producto.
""" -->
