
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron text-center bg-white py-5" style="background-image: url('{% static 'img/fondo.jpg' %}'); background-size: cover; background-position: contain;">
    <div class="container">
        <h1 class="display-4 text-white">Bienvenido a la Ferretería</h1>
        <p class="lead text-white">Encuentra todo lo que necesitas para tus proyectos de construcción y remodelación.</p>
        <hr class="my-4">
        <p class="text-white">Explora nuestras categorías de productos y encuentra lo que necesitas a precios competitivos.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'categoria_list' %}" role="button">Ver Categorías</a>
    </div>
</div>
{% endblock %}



